:host{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;

    .content{
        max-width: 35%;
    }

    img{
        width: 500px;
    }
}