<img [src]="project.imagePath" class="image">
<div class = "content" [ngStyle]="{'justify-content': project.reverse ? 'flex-end' : 'flex-start', 'text-align': project.reverse ? 'right' : 'left'}">
    <h3>{{ project.name }}</h3>
    <p>{{ project.technologies }}</p>
    <p>{{ project.discription }}</p>
    <div class="buttons">
        <button (click)="openLink(project.GIT)" class="gitbtn">Github</button>
        <button (click)="openLink(project.link)" class="livebtn"> Live Test</button>
    </div>
</div>