h1 {
    color: #E15544;
    font-family: 'Roboto Mono';
    font-size: clamp(30px, 5vw, 45px);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}