<div class = "wrapper">
    <div class="navbar">
        <a href="" class="font-handjet" class="logo">&lt;MK&gt;</a>
        <a href="#why-me" class="font-roboto-mono" class="link">Why me</a>
        <a href="" class="font-roboto-mono" class="link">Skills</a>
        <a href="" class="font-roboto-mono" class="link">Projects</a>
        <a href="" class="font-roboto-mono" class="link">Contact</a>
    </div>
    <div class="languageSwitch">
        <a href="" class="font-roboto-mono" class="link">EN</a>
        <span>|</span>
        <a href="" class="font-roboto-mono" class="link">DE</a>
    </div>
</div>