<div class="wrapper">
    <div class="navbar">
        <a href="" class="font-handjet logo">&lt;MK&gt;</a>
        <div class="links">
            <a href="#why-me" class="font-roboto-mono link">{{ 'WHY_ME' | translate }}</a>
            <a href="#my-skills" class="font-roboto-mono link">{{ 'SKILLS' | translate }}</a>
            <a href="#my-projects" class="font-roboto-mono link">{{ 'PROJECTS' | translate }}</a>
            <a href="#contact" class="font-roboto-mono link">{{ 'CONTACT' | translate }}</a>
        </div>
    </div>
    <div class="languageSwitch">
        <button class="font-roboto-mono colorOrange ls_btn" (click)="switchLanguage('en')">EN</button>
        <p class="font-roboto-mono colorOrange ls_btn">|</p>
        <button class="font-roboto-mono colorOrange ls_btn" (click)="switchLanguage('de')">DE</button>
        <button class="menu_btn " (click)="openPopup()"><img src="./../../../assets/img/menu.png" alt=""></button>
    </div>
    <div class="popup_menu" *ngIf="popupOpen === true">
        <div>
            <button class="close_btn" (click)="closePopup()"><img src="/assets/img/close.png" alt=""></button>
        </div>
        <a href="#why-me" class="font-roboto-mono link" (click)="closePopup()">{{ 'WHY_ME' | translate }}</a>
        <a href="#my-skills" class="font-roboto-mono link" (click)="closePopup()">{{ 'SKILLS' | translate }}</a>
        <a href="#my-projects" class="font-roboto-mono link" (click)="closePopup()">{{ 'PROJECTS' | translate }}</a>
        <a href="#contact" class="font-roboto-mono link" (click)="closePopup()">{{ 'CONTACT' | translate }}</a>
        <div class="popup_menu_language">
            <button class="font-roboto-mono colorOrange" (click)="switchLanguage('en')" (click)="closePopup()">EN</button>
            <p class="font-roboto-mono colorOrange">|</p>
            <button class="font-roboto-mono colorOrange" (click)="switchLanguage('de')" (click)="closePopup()">DE</button>
        </div>
    </div>
</div>