.wrapper {
    position: absolute;
    top: 20px;
    width: 100%;
    max-width: 1150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    box-sizing: border-box;

    .navbar {
        display: flex;
        align-items: center;
    }
}

.logo {
    font-size: 48px;
}

a {
    margin-right: 20px;
    color: #E15544;
    text-decoration: none;

}

.link {
    font-size: 22px;

    &:hover {
        color: #02F4BF;
    }
}

.ls_btn {
    font-size: 22px;
    background-color: transparent;
    border: none;

    &:hover {
        color: #02F4BF;
        cursor: pointer;
    }
}

.languageSwitch {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        margin: 5px;
    }

    span {
        font-size: 22px;
        color: #E15544;
    }
}

.menu_btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 800px) {
    .links {
        display: none;
    }

    .ls_btn {
        display: none;
    }

    .languageSwitch .link,
    .languageSwitch span {
        display: none;
    }

    .menu_btn {
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }
    
}