<div class="wrapper">
    <div class="navbar">
        <a href="" class="font-handjet logo">&lt;MK&gt;</a>
        <div class="links">
            <a href="#why-me" class="font-roboto-mono link">Why me</a>
            <a href="" class="font-roboto-mono link">Skills</a>
            <a href="" class="font-roboto-mono link">Projects</a>
            <a href="" class="font-roboto-mono link">Contact</a>
        </div>
    </div>
    <div class="languageSwitch">
        <button class="font-roboto-mono colorOrange ls_btn" (click)="switchLanguage('en')">EN</button>
        <p class="font-roboto-mono colorOrange ls_btn">|</p>
        <button class="font-roboto-mono colorOrange ls_btn" (click)="switchLanguage('de')">DE</button>
        <button class="menu_btn"><img src="./../../../assets/img/menu.png" alt=""></button>
    </div>
</div>