<div class="wrapper">
    <div class="contactmeText">
        <h2 class="colorOrange font-roboto-mono" [innerHTML]="'CONTACT' | translate"></h2>
        <img src="./../../assets/img/Arrow.png" alt="">
    </div>
    <div class="mail_number">
        <p class="colorGreen font-roboto-mono" [innerHTML]="'CONTACT_TEXT' | translate"></p>
        <div>
            <div class="email">
                <img [src]="mailSrc" (mouseenter)="onIconHover('mail1', true)" (mouseleave)="onIconHover('mail1', false)" alt="">
                <a href="mailto:mkiessling1988@outlook.de" class="colorGreen font-roboto-mono">mkiessling1988&#64;outlook.de</a>
            </div>
            <div class="number">
                <img [src]="numberSrc" (mouseenter)="onIconHover('number', true)" (mouseleave)="onIconHover('number', false)" alt="">
                <a class="colorGreen font-roboto-mono" href="tel:+491524228053">+49 1520 4228053</a>
            </div>
        </div>
        <img class="arrow" (click)="scrollTo('home')" [src]="arrowSrc" (mouseenter)="onIconHover('arrow', true)" (mouseleave)="onIconHover('arrow', false)" alt="">
    </div>
    <app-contact-form></app-contact-form>
    <div class="mail_number_response">
        <div class="email_response">
            <img src="/assets/img/icon_email.png" alt="">
                <a href="mailto:mkiessling1988@outlook.de" class="colorGreen font-roboto-mono">mkiessling1988&#64;outlook.de</a>
        </div>
        <div class="number_response">
            <img src="/assets/img/icon_phone.png" alt="">
            <a class="colorGreen font-roboto-mono" href="tel:+491524228053">+49 1520 4228053</a>
        </div>
    </div>
    <div class="icons_response">
    <a href="https://github.com/MKiessling88" target="_blank">
      <img [src]="gitIconSrc" (mouseenter)="onIconHover('git', true)" (mouseleave)="onIconHover('git', false)"
        alt="GitHub Icon" /></a>
    <a href="mailto:mkiessling1988@outlook.de">
      <img [src]="mailIconSrc" (mouseenter)="onIconHover('mail', true)" (mouseleave)="onIconHover('mail', false)"
        alt="Mail Icon" />
    </a>
    <!-- <a href="https://www.linkedin.com/in/marcel-kießling-674308371" target="_blank">
      <img [src]="linkedIconSrc" (mouseenter)="onIconHover('linked', true)" (mouseleave)="onIconHover('linked', false)"
        alt="LinkedIn Icon" />
    </a> -->
    </div>
</div>