.contact-form {
    margin-top: 20px;
    padding-bottom: 50px;
    font-family: 'Roboto Mono';
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

small{
    color: red;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }

    input,
    textarea {
        background: transparent;
        border: 1px solid #00ffff;
        padding: 10px;
        color: #00ffff;
        font-size: 1rem;
        max-width: 100%;
        resize: none;

        &::placeholder {
            color: #00ffff;
            opacity: 0.6;
        }

        &:focus {
            outline: none;
            border-color: #ff00ff;
        }
    }

    textarea {
        grid-column: 2 / 3;
        grid-row: 1 / 3;

        @media (max-width: 800px) {
            grid-column: 1;
            grid-row: auto;
            margin-left: 0;
        }
    }
}

.checkbox-wrapper {
    margin-top: 20px;
    font-size: 0.9rem;

    label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #00ffff;

        input[type='checkbox'] {
            appearance: none;
            min-width: 15px;
            height: 15px;
            border: 1px solid #E15544;
            position: relative;
            cursor: pointer;

            &:checked::after {
                content: '✔';
                position: absolute;
                top: -2px;
                left: 2px;
                font-size: 12px;
                color: #ff0044;
            }
        }
    }
}

.privacy {
    color: #E15544 !important;
    text-decoration: none !important;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }
}

button[type='submit'] {
    margin-top: 20px;
    justify-self: end;
    background: transparent;
    border: 1px solid #888;
    color: #888;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    @media screen and (max-width: 800px) {
        justify-self: center;
    }

    &:enabled {
        border-color: #00ffff;
        color: #00ffff;
    }

    &:hover:enabled {
        background: #00ffff;
        color: #0c0032;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        border-color: white;
        color: white;
    }
}

.contact-form input:-webkit-autofill,
.contact-form textarea:-webkit-autofill {
  background-color: #02F4BF !important;
  -webkit-text-fill-color: #02F4BF !important;
  transition: background-color 5000s ease-in-out 0s;
}