<div class="privacy-policy">
  <h1 class="font-roboto-mono colorOrange" [innerHTML]="'PRIVACY_POLICY' | translate"></h1>

  <p class="font-roboto-mono colorOrange"><strong [innerHTML]="'PRIVACY_POLICY_GENERAL' | translate"></strong></p>
  <p class="font-roboto-mono colorGreen" [innerHTML]="'PRIVACY_POLICY_GENERAL_TEXT' | translate"></p>

  <p class="font-roboto-mono colorOrange"><strong [innerHTML]="'PRIVACY_POLICY_RESPONSIBILITY' | translate"></strong></p>
  <p class="font-roboto-mono colorGreen">
    Marcel Kießling<br>
    Emmidhoferstraße 6<br>
    78187 Geisingen<br>
    E-Mail: mkiessling1988&#64;outlook.de
  </p>

  <p class="font-roboto-mono colorOrange"><strong [innerHTML]="'PRIVACY_POLICY_COLLECTION' | translate"></strong></p>
  <p class="font-roboto-mono colorGreen" [innerHTML]="'PRIVACY_POLICY_COLLECTION_TEXT' | translate"></p>

  <p class="font-roboto-mono colorOrange"><strong [innerHTML]="'PRIVACY_POLICY_CONTACTFORM' | translate"></strong></p>
  <p class="font-roboto-mono colorGreen" [innerHTML]="'PRIVACY_POLICY_CONTACTFORM_TEXT' | translate"></p>

  <p class="font-roboto-mono colorOrange"><strong [innerHTML]="'PRIVACY_POLICY_RULES' | translate"></strong></p>
  <p class="font-roboto-mono colorGreen" [innerHTML]="'PRIVACY_POLICY_RULES_TEXT' | translate"></p>

  <p class="font-roboto-mono colorOrange"><strong>6. Cookies</strong></p>
  <p class="font-roboto-mono colorGreen" [innerHTML]="'PRIVACY_POLICY_COOKIES_TEXT' | translate"></p>

  <p class="font-roboto-mono colorOrange"><strong [innerHTML]="'PRIVACY_POLICY_CHANGE' | translate"></strong></p>
  <p class="font-roboto-mono colorGreen" [innerHTML]="'PRIVACY_POLICY_CHANGE_TEXT' | translate"></p>

  <p class="font-roboto-mono colorOrange" [innerHTML]="'PRIVACY_POLICY_DATE' | translate"></p>
</div>

