<div class="legal-notice">
  <h1 class="font-roboto-mono colorOrange" [innerHTML]="'IMPRINT' | translate"></h1>

  <p class="font-roboto-mono colorOrange"><strong [innerHTML]="'IMPRINT_PARAGRAPH' | translate"></strong></p>
  <p class="font-roboto-mono colorGreen" [innerHTML]="'IMPRINT_ADRESS' | translate"></p>

  <p class="font-roboto-mono colorOrange"><strong [innerHTML]="'IMPRINT_CONTACT' | translate"></strong></p>
  <p class="font-roboto-mono colorGreen">
    {{'IMPRINT_PHONE' | translate}} 01520 4228053<br>
    E-Mail: mkiessling1988&#64;outlook.de
  </p>

  <p class="font-roboto-mono colorOrange"><strong [innerHTML]="'IMPRINT_RESPONSIBILITY' | translate"></strong></p>
  <p class="font-roboto-mono colorGreen">
    Marcel Kießling<br>
    Emmishoferstraße 6<br>
    78187 Geisingen
  </p>

  <p class="font-roboto-mono colorGreen"><strong class="colorOrange" [innerHTML]="'IMPRINT_DISCLAIMER' | translate"></strong><br>
    {{'IMPRINT_DISCLAIMER_TEXT' | translate}}
  </p>

  <p class="font-roboto-mono colorGreen"><strong class="colorOrange">{{'IMPRINT_COPYRIGHT' | translate}}</strong><br>
    {{'IMPRINT_COPYRIGHT_TEXT' | translate}}
  </p>
</div>

