<div class = "wrapper">
    <h1 class="colorOrange font-roboto-mono">My Skills</h1>
    <div class="skill-container">
        <img *ngFor="let skill of skills" src="{{ skill.imagePath }}" class="skill-img" alt="">
        <img src="assets/img/skills/skill-Challenge.png" class="skill-img challenge" alt="">
        <div class="skill-text">
            <span class="colorGreen font-roboto-mono">I am always happy to learn new technologies,just tell me what you need.</span>
        </div>
    </div>
    <div class="skill-text-response">
        <img src="./../../assets/img/Arrow.png" alt="">
        <span class="colorGreen font-roboto-mono">I am always happy to learn new technologies,just tell me what you need.</span>
    </div>
</div>
