.landscapeMessage {
  display: none;
  position: fixed;
  inset: 0;
  background: white;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

/* Hintergrund-Inhalt ausblenden auf Touch-Geräten im Landscape */
@media (orientation: landscape) // and (hover: none)
// and (pointer: coarse)
and (max-height: 800px) {
  body>*:not(.landscapeMessage) {
    display: none !important;
  }

  .landscapeMessage {
    display: flex;
  }
}

.wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1440px;
  height: 100vh;
  box-sizing: border-box;
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
}

.button-line {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50%;
  gap: 70%;
}

.arrow {
  height: 20px;
}

.text h2 {
  font-size: clamp(18px, 5vw, 36px);
  margin: 0;
  color: #02F4BF;
}

.text h1 {
  font-size: clamp(22px, 5vw, 74px);
  margin: 0;
  color: #02F4BF;
  padding-bottom: 20px;
}

.portrait {
  display: flex;
  align-items: flex-end;
}

.portrait img {
  height: 640px;
  object-fit: cover;
  display: block;
}

.Contact_btn {
  rotate: -90deg;
  color: #E15544;
  background-color: transparent;
  border-color: #02F4BF;
  font-size: 26px;
  padding: 10px;
  transition: color 0.15s ease-in-out;

  &:hover {
    color: #02F4BF;
  }

}

.arrow {
  height: 50px;

  &:hover {
    cursor: pointer;
  }
}

.portrait_top {
  display: none;
  margin-bottom: 20px;

  img {
    width: 400px;
  }
}

@media screen and (max-width: 1550px) {
  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1260px) {
  .button-line {
    display: none;
  }
}

@media screen and (max-width: 1110px) {
  .text-block {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .text {
    text-align: center;
  }

  .portrait_top {
    display: block;
  }

  .portrait {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .portrait_top img {
    width: clamp(400px, 20vw, 550px);
  }
}

@media screen and (max-width: 600px) {
  .portrait_top img {
    width: clamp(300px, 20vw, 550px);
  }

  .wrapper {
    padding: 50px 50px 70px 50px;
  }
}