<div class="wrapper">
    <div class="landscapeMessage">
        Bitte drehen Sie das Gerät ins Hochformat.
    </div>
    <div class="text-block">
        <div class="button-line">
            <button class="Contact_btn" (click)="scrollTo('contact')">Contact me</button>
            <img class="arrow" [src]="imageSrc" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" alt="">
        </div>
        <div class="portrait_top">
            <img src="./../../assets/img/Portrait.png" alt="">
        </div>
        <div class="text">
            <h2 class="font-roboto-mono">FRONTEND DEVELOPER</h2>
            <h1 class="font-roboto-mono">Marcel Kießling</h1>
        </div>
    </div>

    <div class="portrait">
        <img src="./../../assets/img/Portrait.png" alt="">
    </div>
</div>