.wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    max-width: 1440px;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
}

.reviews {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;

    img {
        height: 70px;
        rotate: -15deg;
    }
}