<div class="wrapper">
    <div>
    <h4 class="font-handjet colorOrange">&lt;MK&gt;</h4>
    <p class="font-roboto-mono colorOrange">Frontend Developer</p>
</div>
<div>
    <h5 class="font-roboto-mono colorOrange">&copy; Marcel Kießling 2025</h5>
    <div class="links">
        <a href="" class="font-roboto-mono colorOrange">Legal Notice</a>
        <a href="" class="font-roboto-mono colorOrange">Privacy Policy</a>
    </div>
</div>
<div class="icons">
    <img src="./../../../assets/img/VectorGIT.png" alt="">
    <img src="./../../../assets/img/VectorMail.png" alt="">
    <img src="./../../../assets/img/VectorLinked.png" alt="">
</div>
</div>
